[data-role=color-contrast-grid] .row {
    display: grid;
}

[data-role=color-contrast-grid].c2 .row {
    grid-template-columns: repeat(3, 1fr);
}

[data-role=color-contrast-grid].c3 .row {
    grid-template-columns: repeat(4, 1fr);
}

[data-role=color-contrast-grid].c4 .row {
    grid-template-columns: repeat(5, 1fr);
}

[data-role=color-contrast-grid].c5 .row {
    grid-template-columns: repeat(6, 1fr);
}

[data-role=color-contrast-grid].c6 .row {
    grid-template-columns: repeat(7, 1fr);
}

[data-role=color-contrast-grid].c7 .row {
    grid-template-columns: repeat(8, 1fr);
}

[data-role=color-contrast-grid].c8 .row {
    grid-template-columns: repeat(9, 1fr);
}

[data-role=color-contrast-grid].c9 .row {
    grid-template-columns: repeat(10, 1fr);
}

[data-role=color-contrast-grid].c10 .row {
    grid-template-columns: repeat(11, 1fr);
}

[data-role=color-contrast-grid].c11 .row {
    grid-template-columns: repeat(12, 1fr);
}

[data-role=color-contrast-grid].c12 .row {
    grid-template-columns: repeat(13, 1fr);
}


[data-role=color-contrast-grid] .cell
{
    font-size: calc( var(--font-size-default) * 1.2 );
    height: 2rem;
    text-align: center;
    width: 10rem;
}

[data-role=color-contrast-grid] .aa-pass
{
    background-color: #80ff80;
}

[data-role=color-contrast-grid] .aa-warn
{
    background-color: #ffff80;
}

[data-role=color-contrast-grid] .aa-fail
{
    background-color: #ff8080;
}
