table[data-role=color-contrast-grid] td
{
    font-size: calc( var(--font-size-default) * 1.2 );
    height: 2rem;
    text-align: center;
    width: 10rem;
}

table[data-role=color-contrast-grid] .aa-pass
{
    background-color: #80ff80;
}

table[data-role=color-contrast-grid] .aa-warn
{
    background-color: #ffff80;
}

table[data-role=color-contrast-grid] .aa-fail
{
    background-color: #ff8080;
}
