.color-input-table thead td
{
    font-size: calc( var(--font-size-default) * 1.5 );
}

.color-input-table label
{
    font-size: var(--font-size-default);
}

.color-input-table input[type=text],
.color-input-table input[type=number]
{
    height: var(--font-size-default);
}

table[data-role=color-contrast-grid] td
{
    font-size: calc( var(--font-size-default) * 1.2 );
    height: 2rem;
    width: 10rem;
}

table[data-role=color-contrast-grid] .aa-pass
{
    background-color: #80ff80;
}

table[data-role=color-contrast-grid] .aa-warn
{
    background-color: #ffff80;
}

table[data-role=color-contrast-grid] .aa-fail
{
    background-color: #ff8080;
}

@media print
{
    .color-input-table
    {
        display: none;
    }
}
